.expres-calculator {
  height: 300px;
  width: 100%;
  background-color: blueviolet;
  position: relative;
}

.expres-calculator .entry {
  position: absolute;
  margin: auto;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 80%;
  height: 50px;
}
.expres-calculator input {
  width: 100%;
  height: 100%;
  font-size: 30pt;
}
.expres-calculator .result {
}

.expres-calculator .meter {
  margin: auto;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
